<html>
    <head>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>

    <body>
        <div>
            <h3>채팅방 목록</h3><br/>
            <ul class="chatRoomList">
            </ul>
            <button class="createChatRoom">채팅방 만들기</button>
        </div>
        <div>
            <h3>채팅내용</h3><br/>
            <ul class="chat">
            </ul>
        </div>
        <input type="text" class="text"/>
        <button class="sendMessage">sned</button>
        <br/>
        <input type="text" class="nickname"/>
        <button class="setNickname">setNickname</button>
        <script>
        </script>
    </body>
        <script>
            let myInfo = {
                nickname: null,
            }
            const socket = io('http://localhost:5000');
            socket.on('connect', function() {
                console.log('Connected');
                //연결 완료 후 로컬스토리지를 확인하여 닉네임 세팅
                const nickname = localStorage.getItem('nickname');
                socket.emit('setInit', { nickname }, response =>
                    {
                        myInfo.nickname = response.nickname;
                        $('.nickname').val(myInfo.nickname);
                    }
                );
                socket.emit('getChatRoomList', null, response =>
                    {
                        console.log(response)

                        const {room_id, room_name} = response
                        let html = '';
                        html += '<ul>';
                        html += '<span class="enterChatRoom" data-room_id="'+room_id+'">';
                        html += room_name;
                        html += '</span>';
                        html += '</ul>';
                        $('.chatRoomList').append(html);
                        // for(const thisChatRoom of Object.values(response)){
                        //     const {room_id, room_name} = thisChatRoom
                        //     let html = '';
                        //     html += '<ul>';
                        //     html += '<span class="enterChatRoom" data-room_id="'+room_id+'">';
                        //     html += room_name;
                        //     html += '</span>';
                        //     html += '</ul>';
                        //     $('.chatRoomList').append(html);
                        // }
                    }
                );
            });
            socket.on('events', function(data) {
                console.log(data);
            });
            socket.on('getMessage', function({nickname, message}) {
                $('.chat').append('<li>'+nickname+' : '+message+'</li>');
            });
            socket.on('exception', function(data) {
                console.log('event', data);
            });
            socket.on('disconnect', function() {
                $('.chatRoomList').html('');
                console.log('Disconnected');
            });

            //채팅방 생성
            $('.createChatRoom').on('click', function(){
                const room_name = prompt('채팅방 이름을 입력해주세요.');
                if(!room_name){
                    return false;
                }
                socket.emit('createChatRoom', room_name);
            })

            //채팅방 입장
            $(document).on('click', '.enterChatRoom', function(){
                const thisRoomId = $(this).data('room_id');
                socket.emit('enterChatRoom', thisRoomId);
            })

            //메시지 전송
            $('.sendMessage').on('click', function(){
                socket.emit('sendMessage', $('.text').val());
                $('.text').val('');
            })

            //닉네임 설정
            $('.setNickname').on('click', function(){
                socket.emit('setNickname', $('.nickname').val());
                localStorage.setItem('nickname', $('.nickname').val());
            })
        </script>
</html>